{% set NODE_NAME = inventory_hostname %}
{% set SEED_HOSTS = groups['elk'] | difference(inventory_hostname) %}
{% set CLUSTER_NODES = groups['elk_es'] %}
{% set COORD_NODE = groups['elk_kibana'] %}
version: '2.2'
services:
  {{ NODE_NAME }}:
    image: {{ ELASTICSEARCH_IMAGE }}:{{ ELASTICSEARCH_VERSION }}
    container_name: "es-{{ NODE_NAME }}"
    environment:
      - node.name={{ NODE_NAME }}
      - cluster.name={{ CLUSTER_NAME }}
{% if inventory_hostname in groups['elk_kibana'] %}
      - node.master=false
      - node.data=false
      - node.ingest=false
{% else %}
      - node.master=true
{% endif %}
      - network.host=0.0.0.0
      - discovery.seed_hosts={{ CLUSTER_NODES | join(',') }}
      - cluster.initial_master_nodes={{ CLUSTER_NODES | join(',') }}
      - transport.tcp.port={{ CLUSTER_PORT }}
      - bootstrap.memory_lock=true
      - network.publish_host={{ ansible_default_ipv4.address }}
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - {{ ES_LOGS_PATH }}:/usr/share/elasticsearch/logs
      - {{ ES_DATA_PATH }}:/usr/share/elasticsearch/data
    ports:
      - {{ ACCESS_PORT }}:9200
      - {{ CLUSTER_PORT }}:{{ CLUSTER_PORT }}

{% if inventory_hostname in groups['elk_kibana'] %}   
  kibana:
    container_name: "kibana-{{ NODE_NAME }}"
    image: {{ KIBANA_IMAGE }}:{{ ELASTICSEARCH_VERSION }}
    ports:
      - "{{ KIBANA_PORT }}:5601"
    environment:
      - "ELASTICSEARCH_HOSTS=http://{{ inventory_hostname }}:9200"
    volumes: 
      - kibana_data:/usr/share/kibana

volumes:
  kibana_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: {{ KIBANA_DATA_PATH }}
{% endif %}
