[Unit]
Description=elasticsearch service with docker compose
Requires=docker.service
After=docker.service

[Service]
Environment=COMPOSE_HTTP_TIMEOUT=300
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ DOCKER_PATH }}
ExecStart={{ DOCKER_COMPOSE_PATH }} up -d --remove-orphans
ExecStop={{ DOCKER_COMPOSE_PATH }} down

[Install]
WantedBy=multi-user.target
